# Import Function

In [106]:
import pandas as pd 
import numpy as np

# Dataframe making

In [107]:
def data_insert(Row_list,head_list,filename,colName):
    df = pd.read_csv(filename) 
    list_temp = []
    for index, rows in df.iterrows(): 
        my_list =[rows.Place, rows.Year, rows.Sex, rows.Race, rows.Value] 
        list_temp.append(my_list) 
    head_list.insert(5,colName)
    for i in range(len(Row_list)):
        Row_list[i].insert(5,'NaN')

    for i in range(len(Row_list)):
        for j in range(len(list_temp)):
            if list_temp[j][0] ==  Row_list[i][0]:
                if list_temp[j][1] ==  Row_list[i][1]:
                    if list_temp[j][2] ==  Row_list[i][2]:
                        if list_temp[j][3] ==  Row_list[i][3]:
                            Row_list[i][5] = list_temp[j][4]
                            break       
    return Row_list,head_list

In [108]:
# df_original
df = pd.read_csv("Life_expentance.csv") 
# df --> List
Row_list =[]   
head_list = ['Place','Year','Sex','Race','Life_expectancy']
for index, rows in df.iterrows(): 
    my_list =[rows.Place, rows.Year, rows.Sex, rows.Race, rows.Value] 
    Row_list.append(my_list) 

# add_list
csv_list = ["All_type_of_cancer.csv","HIV_AIDS_Rate.csv","Diabetes.csv","Heart_Disease.csv","Vehicle.csv","Firearm.csv","Pneumonia_and_Influenza_Mortality_Rate.csv","Homicide_Rate.csv","Suicide_Rate.csv"]
colName_list = ['Cancer','HIV','Diabetes','Heart_Disease','Vehicle','Firearm','Pneumonia_and_Influenza','Homicide_Rate','Suicide_Rate']
for i in range(len(csv_list)):
    Row_list,head_list = data_insert(Row_list,head_list,csv_list[i],colName_list[i])
df = pd.DataFrame(Row_list, columns = head_list)  

#'NaN' Processing
dfarray = df.to_numpy()
for i in range(len(dfarray)):
    for j in range(len(dfarray[0])):
        if dfarray[i][j] == 'NaN':
            dfarray[i][j] = np.nan
df = pd.DataFrame(dfarray, columns = head_list)

In [110]:
df.head()

,Place,Year,Sex,Race,Life_expectancy,Suicide_Rate,Homicide_Rate,Pneumonia_and_Influenza,Firearm,Vehicle,Heart_Disease,Diabetes,HIV,Cancer
0,"Baltimore, MD",2013,Both,All,73.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Boston, MA",2012,Both,All,80.1,5.4,NaN,18.3,4.4,5,131.8,19.6,879.3,187.3
2,"Boston, MA",2012,Both,Asian/PI,87.2,NaN,NaN,NaN,NaN,NaN,45,NaN,NaN,132.4
3,"Boston, MA",2012,Both,Black,77,3.1,19.9,NaN,13.7,NaN,156.2,39.6,1585.2,209.9
4,"Boston, MA",2012,Both,Hispanic,86.4,NaN,NaN,NaN,NaN,NaN,80.9,NaN,899.5,135.7

In [109]:
df.to_csv('Total_data.csv')